<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Highlight</h3>
	</div>
	<div class="panel-body">
		<p fraHightLight>P- Highlight me!</p>
		<p>Highlight me!</p>
		<p>Highlight me!</p>

		<p>
			<button type="button" class="btn btn-danger">Red</button>
			<button type="button" class="btn btn-primary">Blue</button>
			<button type="button" class="btn btn-success">Green</button>
		</p>

		<p fraHightLight>H3 - Highlight me!</p>
		<h3>Highlight me!</h3>
	</div>
</div>
